html {
	height: 100%;
	width: 100%
}
.landingPageBG {
	background: linear-gradient(#801515 80%, #801515 50%, #671142 90%) no-repeat;
}
#landingPage {
	margin: 0 auto;
	width: 100%;
	z-index: 1;
	color: #fff;
	text-align: center;
}
#location {
	text-align: center;
	color: #fff;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #000;
	text-align: center;
}
#logo {
	height: 50%;
	margin: 0 10px 0 5%;
	width: 50%;
}
#locPin {
	width: 100px;
	padding-top: 54px;
}
.landingPage {
	color: white;
}
#welcome {
	color: white;
	padding-right: 10px;
	padding-left: 20px;
}
#loginBtns {
	padding-left: 10px;
}
#user {
	padding-right: 10px;
}
.map-canvas {
	height: 300px;
	width: 270px;
	margin: 0;
	padding: 0;
}
.eventInfo {
	border-radius: 15px;
	border: 2px solid #801515;
	padding: 10px;
}
.eventName {
	text-align: center;
	font-weight: bold;
	font-size: large;
}
.eventInfo.edit {
	height: 400px;
}
.eventInfo.edit .eventName {
	text-align: left;
	font-weight: normal;
	font-size: initial;
}
#newEvent {
	padding-top: 50px;
}
#events td {
	padding: 10px;
}
.center {
	text-align: center;
}
.attendee {
	padding-left: 10px;
}
#alertBar {
	margin-top: 50px;
}
#alertBar:hover {
	cursor: pointer;
}